async-lru==1.0.2
certifi==2021.5.30
charset-normalizer==2.0.4
idna==3.2
program==0.0.4
pyaes==1.6.1
pyasn1==0.4.8
Pyrogram==1.2.9
PySocks==1.7.1
requests==2.26.0
rsa==4.7.2
six==1.16.0
Telethon==1.23.0
urllib3==1.26.6
vk-api==11.9.4